# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
.vscode
/config/db.php
# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/config/db.php
# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store
/assets
# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated
/upload
/download
/ueditor
index.php
env.php
PayPal.log
